<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" th:href="@{/css/card-page.css}" />
<link rel="stylesheet" th:href="@{/css/main.css}" />
</head>
<body>
<table>
<tr >
	<td th:each ="card : ${highCards}">
		<label class="container">
			<input type="radio" th:value="${card.id}" th:checked="${card.id}==1 ? 'checked' : ''" name="radio">
			<span class="checkmark"></span>
		</label>
	</td>
</tr>
<tr>
	<td  th:each ="card : ${highCards}">
		<div class="thumbnail">
			<img th:src="@{${'/images/' + card.image}}" class="portrait"/>
		</div>
	</td>
</tr>
<tr >
	<td th:each ="card : ${lowCards}">
		<label class="container">
			<input type="radio" th:value="${card.id}" name="radio">
			<span class="checkmark"></span>
		</label>
	</td>
</tr>
<tr >
	<td th:each ="card : ${lowCards}">
		<div class="thumbnail">
			<img th:src="@{${'/images/' + card.image}}" class="portrait"/>
		</div>
	</td>
</tr>
</table>
<div class="input-message-copy">
	<input type="text" id="message-copy" autocomplete="off" placeholder="Type your hint..."/>
<button type="submit">OK</button>
</div>
</body>
</html>
