<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spring Boot WebSocket</title>
<link rel="stylesheet" th:href="@{/css/main.css}" />

<script th:src="@{/js/lib/sockjs.min.js}"></script>
<script th:src="@{/js/lib/stomp.min.js}"></script>
<script th:src="@{/js/lib/jquery.min.js}"></script>

</head>
<script type="text/javascript">
	
   </script>
<body>
	<div id="chat-container">
		<div class="chat-header">
			<div class="user-container">
				<span id="username" th:utext="${username}"></span> <a
					th:href="@{/logout}">Logout</a>
			</div>
			<h3 style="padding-left: 40px;">Chat Room</h3>
		</div>

		<hr />

		<div id="connecting">Connecting...</div>
		<ul id="messageArea">
		</ul>
		<form id="messageForm" name="messageForm">
			<div class="input-message" style="margin-top: 10px;">
				<input type="text" id="message" autocomplete="off"
					placeholder="Type a message..." />
				<button type="submit">Send</button>
			</div>
		</form>
	</div>
	<div>

		<form th:if="${session.player == null}" id="registerGame"
			method="post" action="/registerGame">
			<input type="button" value="Register to Game"
				onclick="registerGame()" />
		</form>

		<div >
			<p>
				Currently there are <span id="messageCountPlayer">0</span> players
				joined.
			</p>
		<form id="formStartGame" method='post' action='/startGame'>
		 	 <input id="submitStartGame" type='submit' value='Start Game'  />
		</form>
		</div>
	</div>
	<script th:src="@{/js/main.js}"></script>

</body>
</html>